# Dependency directories
node_modules/
jspm_packages/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

.DS_Store

# Uploads folder
uploads/*

# exception to the rule
!uploads/placeholder.txt

# Testing outputs
/coverage
/.nyc_output